<%- include("header") -%>

<h1 class="filtered-excel"> <%= title %> Filtered Data</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="scope"><%= sheetFilterName[0] %></th>
            <th class="scope"><%= sheetFilterName[1] %></th>
            <th class="scope"><%= sheetFilterName[2] %></th>
            <th class="scope"><%= sheetFilterName[3] %></th>
            <th class="scope"><%= sheetFilterName[4] %></th>
            <th class="scope"><%= sheetFilterName[5] %></th>
            <th class="scope">QTY</th>
        </tr>
    </thead>
    
    
<%if (sheetNumber=="1" || sheetNumber=="2") {%>
  <% for (let i = 0; i<number.length; i++) { %>
    <tr>
      <td><%= number[i].DATE %></td>
      <td><%= number[i].SHIFT %></td>
      <td><%= number[i].PRODUCT %></td>
      <td><%= number[i].TYPE %></td>
      <td><%= number[i].ACTIVITY %></td>
      <td><%= number[i].OPERATOR %></td>
      <td><%= number[i].QTY %></td>
    </tr>
    <%}%>
<%} else if (sheetNumber=="3") {%>
  <% for (let i = 0; i<number.length; i++) { %>
    <tr>
      <td><%= number[i].DATE %></td>
      <td><%= number[i].SHIFT %></td>
      <td><%= number[i].OPERATOR %></td>
      <td><%= number[i].LINE %></td>
      <td><%= number[i].PRODUCT %></td>
      <td><%= number[i].CALIBER %></td>
      <td><%= number[i].QTY %></td>
    </tr>
    <%}%>
<%} else if (sheetNumber=="4") {%>
  <% for (let i = 0; i<number.length; i++) { %>
    <tr>
      <td><%= number[i].DATE %></td>
      <td><%= number[i].SHIFT %></td>
      <td><%= number[i].OPERATOR %></td>
      <td><%= number[i].AOI_LINE %></td>
      <td><%= number[i].PRODUCT %></td>
      <td><%= number[i].CALIBER %></td>
      <td><%= number[i].QTY %></td>
    </tr>
    <%}%>
<%}%>

 
</table>
<div id="footer">
    <form action="/downloadFile" method="get">
        <button >Download</button>
      </form>
</div>
<%- include("footer") -%>
